@import '@/styles/index.scss';

.container {
    max-width: $max-width;
    display: flex;
    z-index: 10;
    padding: 2rem  2rem 0 2rem;
    position: fixed;
    width: 100%;
    left: 50%; 
    transform: translateX(-50%);
    margin: 0 2rem;
    top: 0;
    background-color: white;

    span {
        font-size: 1.5rem;
        font-weight: bold;
    }

}

.pageName {
    // Style it as needed, for example:
    margin-left: 1rem;
    align-self: center;
    font-size: 1.5rem;
    // Add any additional styles you need
  }
  

