@use '../abstracts' as *;
@use '../base' as *;

.chatItemImage {
  width: 4rem;
  height: 4rem;
}
.chatItemContainer {
  padding: 1rem;
}
.selfChatItemContainer {
  text-align: end;
  .chatItem {
    display: none;
    justify-content: end;

    img {
      order: 1;
    }
  }
  .chatItemNickname {
    margin-right: 2rem;
  }
  .chatItemText {
    margin: -2rem 12rem 2rem 0;
  }
}
.selfChatItemText {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 0rem 1.5rem;
  margin: 1rem 2rem 2rem 0;
  color: black;
  vertical-align: middle;
  background-color: #d9d9d9;
  border-radius: 10rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 15rem;
  height: 6rem;
}
.chatItem {
  display: flex;
  margin-left: 2rem;
}
.selfChatItem {
  display: flex;
  justify-content: end;
}
.chatItemNickname {
  font-size: 1.5rem;
  color: #d9d9d9;
  margin-left: 2rem;
  transform: translateY(-1rem);
}
.chatItemText {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 0rem 1.5rem;
  margin: 0.8rem 2rem 0 8rem;
  color: black;
  vertical-align: middle;
  background-color: #d9d9d9;
  height: 6rem;
  border-radius: 10rem;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 15rem;
  transform: translateY(-2rem);
}
