@use '../abstracts' as *;
@use '../base' as *;

.chatItemImage {
  width: 4rem;
  height: 4rem;
}
.chatItemContainer {
  margin: -3rem 0 2rem 0;
}
.selfChatItemContainer {
  text-align: end;
  margin: -3rem 0 -2rem 0;

  .chatItem {
    display: flex;
    justify-content: end;

    img {
      order: 1;
    }
  }
  .chatItemNickname {
    margin-right: 2rem;
  }
  .chatItemText {
    margin: -3rem 9rem 2rem 0;
  }
}

.chatItem {
  display: flex;
  margin: 3rem;
}
.selfChatItem {
  display: flex;
  justify-content: end;
}
.chatItemNickname {
  font-size: 1.5rem;
  color: #d9d9d9;
  margin-left: 2rem;
}
.chatItemText {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 3rem;
  color: black;
  margin: -3rem 0 2rem 9rem;
  vertical-align: middle;
  background-color: #d9d9d9;
  height: 6rem;
  border-radius: 2rem;
}
