@use '../abstracts' as *;
@use '../base' as *;

.userImg {
  @include flex-center-row;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: $profile-wrap;

  img {
    width: 80%;
    height: 80%;
  }
}
