@import '@/styles/index.scss';

.headerWrapContainer {
    width: 100%;
    background-color: white;
    z-index: 10;
    top: 0;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: center;

}

.container {
    @include container;
    width: 100%;
    margin: 0 4rem;
    padding : 2rem 2rem 0 2rem;
    display: flex;
    span {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.pageName {
    margin-left: 1rem;
    align-self: center;
    font-size: 1.5rem;
  }
  

