@font-face {
  font-family: 'Yanolja_Bold';
  src: url('./Yanolja_Bold.ttf');
}
@font-face {
  font-family: 'Yanolja_Regular';
  src: url('./Yanolja_Regular.ttf');
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: url('./NotoSansKR-Regular.ttf');
}

@font-face {
  font-family: 'NotoSans-Medium';
  src: url('./NotoSansKR-Medium.ttf');
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url('./NotoSansKR-Bold.ttf');
}
