@import '@/styles/index.scss';

.item {
  @include flex-center-col;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 2rem;

  .host-img {
    border-radius: 50px;
  }
  .name {
    font-weight: bold;
  }
}
