//font family
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
@import url('https://rsms.me/inter/inter.css');
$font-logo: 'Jeju Hallasan', cursive;
$font-main: 'Inter', sans-serif;

// Font Size
$font-sm: 1rem;
$font-base: 1.6rem;
$font-lg: 2.4rem;

// Font Weight
$font-thin: 300;
$font-normal: 400;
$font-bold500: 500;
$font-bold700: 700;
$font-bold900: 900;

// Theme & Color
$black: #000000;
$white: #fff;
$gray: #f5f5f5;

$bg-black: $black;
$bg-purple: #360e4f;
$bg-purple-80: rgba(#452b66, 0.8);

$header-purple: rgba(#7c28e3, 0.2);

$placeholder: rgba($black, 0.2);

$profile-wrap: #d9d9d9;
$lobby-purple: #30045b;

// btn purple #7C28E3
// header purple #7C28E3
// chat submit btn #7C28E3

// hanging red #C51F1F
// hanging blue #4985E0
// hanging yellow #957B7B

// result red #FF0000
// result blue #0368FF
