@import '@/styles/index.scss';
@import '@/styles/_variables';

.chatPlusBtn {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 12rem;
  right: 3rem;
  background-color: $light-pink;
  color: white;
  border: 0;
  box-shadow: lightgray 0rem 0rem 1rem 0.3rem;
  font-size: 3rem;
  border-radius: 50%;
  &:hover {
    background-color: $brand-pink;
    transition: 0.3s;
  }
}
