@use '../abstracts' as *;
@use '../base' as *;

.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $bg-black;
  font-size: $font-base;

  &__list {
    height: 80%;
    flex-direction: column;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none; /* Chrome , Safari , Opera */
    }
  }

  .form {
    width: 95%;
    height: 7%;
    margin-bottom: 2rem;
    align-self: center;
    display: flex;

    &__input {
      width: 85%;
      padding: 1rem;
      border: none;
      outline: none;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &__button {
      width: 15%;
      background-color: $bg-purple-80;
      color: $white;
      font-size: $font-lg;
      font-family: $font-logo;
      padding: 0 2.5rem;
      border: none;
      border-radius: 0 1rem 1rem 0;

      &:hover {
        cursor: pointer;
        filter: brightness(125%);
      }
    }
  }
}
