@use '../abstracts' as *;
@use '../base' as *;

.signup {
  background-image: url('/src/assets/images/main-background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;


  &__profile_container {
    @include flex-center-col();
    padding-top: 14rem;

  }

  &__profile {
    background-image: url('/src/assets/images/profile.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 100px;
    height: 100px;
  }

  & p {
    color: gray;
    margin: .5rem;
    font-size: 1.8rem;
  }

  &__container {
    margin: 2rem auto;
    width: 50%;
    height: 40%;
    border-radius: 20px;
  }

  &__form_error {
    color: gray;
    font-size: 1.3rem;
    font-weight: 400;
  }

  &__form {
    @include flex-center-col();
    height: 100%;

    & input {
      border: none;
      border-radius: 20px;
      padding: 1.5rem;
      font-size: 1.5rem; 
      width: 50%;
      margin: 1rem 0;
      background-color: rgb(177, 175, 175);
      transition: 0.3s;

      &:hover {
        background-color: white;
      }
    }
  }

  &__form_error {
    color: gray;
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__btn {
    background-color: #835da3;
    border: none;
    color: white;
    box-shadow: 0 0 20px #eee;
    padding: 0.4rem;
    margin-top: 3rem;
    width: 30%;
    height: 12%;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    background-image: linear-gradient(
      to right,
      #000000 0%,
      #53346d 51%,
      #000000 100%
    );
    background-size: 200% auto;
    transition: 0.5s;

    &:hover {
      scale: 1.05;
      background-color: #31114c;
      background-position: right center; /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
    }
  }
  .signin__link a {

    @include flex-center-row();
    padding-top: 2rem;
    color: gray;
    text-decoration: none;
    font-size: 1.8rem;

    &:hover {
      color: white;
    }
  }
}
