@import '../../styles/mixin';

.signUpModalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 20rem;

  .userImgBox {
    position: relative;
    border: 1px solid #dee2e6;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    @include flex-center-row;

    .camaraIcon {
      position: absolute;
      bottom: 0;
      font-size: 2rem;
      right: 0;
      color: #dee2e6;
      cursor: pointer;
    }

    .resetIcon {
      position: absolute;
      bottom: 0;
      font-size: 2rem;
      left: 2%;
      color: #dee2e6;
      cursor: pointer;
    }
  }

  .actionButtonsWrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;

    button {
      cursor: pointer;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.5rem;
      background-color: #ff5991;
      color: #ffff;
      &:hover {
        background-color: #ff3478;
        transition: 0.3s;
      }
    }
  }
  input {
    display: none;
  }
}
