@import '../../styles/mixin';

.signUp_container {
  @include flex-center-row;
  height: 100vh;

  .signUp_box {
    @include flex-center-col;
    padding: 0 1rem;

    h2 {
      font-size: 2rem;
      margin-bottom: 2.5rem;
    }
  }

  .input_box {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    .idBox {
      display: flex;
      justify-content: space-between;

      input {
        width: 18rem;
      }

      button {
        background-color: #ff5991;
        border: none;
        border-radius: 5px;
        color: #ffff;
        cursor: pointer;

        &:hover {
          background-color: #ff3478;
          transition: 0.3s;
        }
      }
    }

    input {
      height: 2rem;
      padding: 0.2rem 0.5rem;
      outline: none;
      border: 1px solid #dee2e6;
      border-radius: 5px;
      &:focus {
        border: 2px solid #ff5991;
      }
    }

    label {
      font-size: 1rem;
      font-weight: 600;
    }

    span {
      font-size: 0.7rem;
      font-weight: 700;
      padding: 0 0.4rem;
      color: #919191;
    }
  }

  .terms_agree {
    display: flex;
    gap: 0.7rem;
    margin: 1rem 0;

    input {
      cursor: pointer;
      width: 1.2rem;
    }

    p {
      font-weight: 700;
    }
  }

  .button_box {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
      background-color: #ff5991;
      border: none;
      color: #ffff;
      cursor: pointer;
      height: 2.5rem;
      border-radius: 5px;

      &:hover {
        background-color: #ff3478;
        transition: 0.3s;
      }
    }
  }
}
