@import '@/styles/index.scss';

.ModalBox {
  // width: 5rem;
  // height: 10rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: bisque;
  padding: 2rem;
  border-radius: 1rem;
  @include shadow-bottom;
  .close-icon {
    font-size: 2.4rem;
    position: absolute;
    right: 1rem;
    font-weight: bold;
  }
}
