@import '../../styles/_variables';
@import '../../styles/_mixin';

/*---------- 전체 container 스타일 ----------*/
.container {
  @include container;
  position: relative;
  margin-top: 80px;
}

/*---------- header 영역 스타일 ----------*/
.header {
  @include flex-between-row;
  flex-wrap: wrap;

  position: fixed;
  top: 0;

  width: 100%;
  height: 6rem;

  font-size: $font-size-lg;

  border-bottom: 0.1rem solid #ff347893;
  background-color: white;

  // 뒤로가기 버튼, 메뉴(속성) 버튼
  .left,
  .right {
    color: $light-pink;
    font-size: 2.4rem;
    cursor: pointer;
    margin: 0 2rem;
    &.right {
      position: relative;
      font-size: 1.8rem;
    }
  }
}

// 드롭다운 메뉴
.dropdownMenu {
  width: 15rem;

  position: absolute;
  top: 100%;
  right: 0.1rem;

  border: 0.1rem solid #ccc;
  background-color: white;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15);

  padding: 1rem;

  z-index: 1000;

  ul {
    list-style: none;

    padding: 0;
    margin: 0;
  }
  p,
  h6 {
    margin: 0;
  }
  div {
    padding: 1rem;
    border-bottom: 0.1rem solid $brand-pink;
  }
  li {
    padding: 0.8rem 0;

    cursor: pointer;

    &:hover {
      background-color: $light-gray; // 항목에 호버 시 배경색 변경
    }
  }

  .exitButton {
    margin: 1rem 2.44rem 0 2.44rem;
    padding: 0.6rem 1rem;
    font-size: $font-size-base;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $light-pink;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    &:hover {
      background-color: $brand-pink;
      transition: 0.3s;
    }
  }
}

/*---------- footer 영역 스타일 ----------*/
.footer {
  @include flex-center-row;
  flex-wrap: wrap;

  background-color: #ebe9e9;

  width: 100%;
  height: 8rem;

  position: fixed;
  bottom: 0;
  z-index: 999;
}

// 메세지 입력창
.chatInput {
  border: 0.1rem solid #ffffff;
  border-radius: 0.5rem;
  outline: none;

  height: 5rem;

  padding: 0 1rem;
  margin: 0 0.5rem;

  position: relative;

  font-size: $font-size-base;

  @media (min-width: 800px) {
    width: 70rem;
    font-size: $font-size-lg;
  }

  @media (max-width: 799px) {
    min-width: 70%;
    font-size: $font-size-base;
  }

  transition: border-color 0.2s ease-in-out;

  &:focus {
    border-color: $brand-pink;
    transition: border-color 0.2s ease-in-out;
  }
}

// 메세지 전송버튼
.triangle_button {
  @include flex-center-row;
  @include button;
  width: 5rem;
  height: 5rem;
  outline: none;

  background-color: #ffffff;
  border-radius: 50%;

  cursor: pointer;

  &:after {
    content: '';

    width: 0;
    height: 0;

    border-style: solid;
    border-width: 1.5rem 0 1.5rem 2.5rem;
    border-color: transparent transparent transparent #ff3478; /* 오른쪽 방향의 파란색 삼각형 */

    margin-left: 0.5rem;

    transition: border-color 0.2s ease-in-out;
  }

  &:active:after {
    border-color: transparent transparent transparent rgb(196, 22, 80); /* 클릭 시 테두리 색상 변경 */
  }
}

/*---------- 채팅 영역 스타일---------- */
// 수실 메세지 스타일 (다른사람)
.otherFlex {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 0;
  margin-left: 1rem;
  .userInfo {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .profileImage {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-right: 0.7rem;
  }

  .username {
    font-size: $font-size-s;
  }

  .otherMessage {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    padding-right: 1rem;

    span {
      margin-left: 0.4rem;
      font-size: 1rem;
      margin-bottom: 0.4rem;
    }

    .content { /* 채팅 메시지 최대 너비 설정 */

      @media (min-width: 800px) {
        max-width: 60rem;
        font-size: $font-size-lg;
      }

      @media (max-width: 799px) {
        max-width: 16rem;
        font-size: $font-size-base;
      }
      background-color: #ff347879;

      padding: 1rem;
      border-radius: 1.8rem;


      word-wrap: break-word;
      white-space: pre-wrap;
    }
  }
}

// 발신 메세지 스타일 (나)
.myFlex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  width: 100%;

  padding: 1rem 0;

  .myMessage {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    padding-right: 1rem;

    span {
      margin-right: 0.4rem;
      font-size: 1rem;
      margin-bottom: 0.4rem;
    }

    .content {
      @media (min-width: 800px) {
        max-width: 60rem;
        font-size: $font-size-lg;
      }

      @media (max-width: 799px) {
        max-width: 16rem;
        font-size: $font-size-base;
      }

      padding: 1rem;

      border-radius: 1.8rem;
      border: 0.1rem solid #ff34789a;

      word-wrap: break-word;
      white-space: pre-wrap;
    }
  }
}

.notice {
  @include flex-center-row;

  padding: 1rem 0;

  width: 100%;

  overflow: hidden;

  .box {
    text-align: center;

    max-width: 80%;

    padding: 0.5rem 2.5rem;

    background-color: #d9d9d9;
    border-radius: 40rem;
  }
}

.alert {
  position: fixed;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;

  text-align: center;

  z-index: 1000;

  padding: 1rem;

  border-radius: 0.5rem;

  .box {
    background-color: #d9d9d949;
    color: black;

    padding: 1rem;

    border-radius: 0.5rem;
  }
}
