@import '@/styles/index.scss';

.list_container {
  @include container;
}

.container {
  @include container;
  display: flex;
  padding: 1rem;
}

.user_profile {
  margin-right: 1rem;
  border-radius: 100%;
}

.chatInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.chatWrap {
  display: flex;
  flex-direction: column;
}

.chatNameWrap {
  display: flex;
}

.chatName {
  font-size: $font-size-lg;
  margin-bottom: 1rem;
}

.chatLastestMesaage {
  font-size: $font-size-base;
}

.chat_updated {
  position: relative;
}

.time-now {
  @include time-diff($brand-pink);
}

.time-minutes {
  @include time-diff($success);
}

.time-hours {
  @include time-diff($blue);
}

.time-days {
  @include time-diff(#aaa);
}
