@import '@/styles/variables.scss';

@mixin a11y-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

@mixin container() {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
  font-size: $font-size-base;
  box-sizing: border-box;
}

@mixin flex-center-row() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between-row() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center-col() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin shadow-top() {
  box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.16);
}
@mixin shadow-bottom() {
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.3);
}

@mixin button() {
  border: none;
  background: transparent;
}

@mixin fill-btn() {
  border-radius: 5px;
  padding: 1rem 2rem;
  cursor: pointer;
  color: #fff;
  background: $light-pink;
  border: none;
  transition: color 0.3s;
  margin: 1rem 0 0;
  &:hover {
    background: $brand-pink;
  }
}
@mixin line-btn() {
  color: $light-pink;
  background: transparent;
  border: 1px solid $light-pink;
  transition: color 0.3s;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 1rem 0 0;
  cursor: pointer;
  &:hover {
    color: #fff;
    background: $brand-pink;
  }
}

@mixin dim() {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: $black, $alpha: 0.7);
}

@mixin time-diff($color) {
  color: $color;
  border: 1px solid $color;
  background: rgba($color, 0.05);
  padding: 0.2rem 0.6rem;
  border-radius: 5rem;
  font-size: $font-size-s;
  letter-spacing: -0.1rem;
  text-wrap: nowrap;
  text-align: center;
  display: inline-block;
  margin-left: 0.8rem;
}
