$black: #151515;
$brand-pink: #ff3478;
$brand-blue: #002d79;
$light-pink: #ff5991;
$light-gray: #f2f2f2;
$light-blue: rgba(1, 82, 204, 0.1);
$blue: #0152cc;

$failed: #e74a3b;
$success: #1cc88a;

$font-size-logo: 4rem;
$font-size-lg: 1.7rem;
$font-size-base: 1.4rem;
$font-size-s: 1.2rem;
