@font-face {
  font-family: 'NotoSans-Regular';
  src: url('../public/fonts/NotoSansKR-Regular.ttf');
}

@font-face {
  font-family: 'NotoSans-Medium';
  src: url('../public/fonts/NotoSansKR-Medium.ttf');
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url('../public/fonts/NotoSansKR-Bold.ttf');
}
